{% extends 'index.html' %}
{% block content %}
 <div class="container p-0">
            <div class="main-box clearfix">
                <div class="profile-header">
                    <div class="row">
                        <div class="col-sm-9">
                    <h3><span>User info</span></h3>
                        </div>
                        <div class="col-sm-3">
                    <a href="{% url 'myprofile-edit' %}" class="btn btn-primary btn-block edit-profile">
                        <span><i class="fa fa-pencil-square fa-lg"></i> Edit profile</span>
                    </a>
                        </div>
                    </div>
                </div>
            </div>

                <div class="row profile-user-info">
                    <div class="col-sm-6">
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">
                                First Name
                            </div>
                            <div class="profile-user-details-label">
                                Last Name
                            </div>
                            <div class="profile-user-details-label">
                                Birthday
                            </div>
                            <div class="profile-user-details-label">
                                Phone
                            </div>
                            <div class="profile-user-details-label">
                                Email
                            </div>
                            <div class="profile-user-details-label">
                                Country
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-value">
                                {{user.first_name}}
                            </div>
                            <div class="profile-user-details-value">
                                {{user.last_name}}
                            </div>
                            <div class="profile-user-details-value">
                                {{user.birthday}}
                            </div>
                            <div class="profile-user-details-value">
                                {{user.phone}}
                            </div>
                            <div class="profile-user-details-value">
                                {{user.email}}
                            </div>
                            <div class="profile-user-details-value">
                                {{user.country.name}}
                            </div>
                        </div>
                    </div>
                </div>
                </div>
{% endblock %}